/* sub1 */
#section{width:1600px;}
.content{height:2700px;margin:60px 0;}
.company{width:1200px; margin:0 auto;}
h3{margin-bottom:10px;}
.p24{font-weight: bold; font-size: 37px; font-family: "Malgun Gothic","맑은 고딕","Dotum";}
.block{display: block; text-align: center;}
.cf:after{content:''; display:block; clear:both;}
/* 회사소개 */
.company h3{width:1200px;font-size:25px; text-align:center;}
.company p{width:1200px; height:300px;}
/* 로고 */

/* 회사소개 글 */
.company_text{width:1200px; padding:10px;}
.company_text .title{font-size:30px; font-weight:bold; width:600px; height:50px; text-align:center;}
.company_text p{width:800px; padding:10px; margin:0 auto; line-height:200%; font-size: 16px; text-align:center;}
/* 회사소개 로고 */
.company_logo{text-align: center;}
.company_logo > img{width:420px; height:160px; text-align: center; margin:30px 0;}
/* 이미지 슬라이드 */
.company_img{width:1200px; height:400px;position: relative; overflow:hidden;}
.swipe-wrap{width:1200px; height:400px;position:relative;}
.swipe-wrap li{float:left; width: 100%; height:400px; position: absolute;}
.swipe-wrap li img{width: 100%; max-width: 100%;display:block;}
.swipe-wrap li.company1{left:1px;}
.swipe-wrap li.company2{left:100%;}
.swipe-wrap li.company3{left:200%;}
.swipe-wrap li.company4{left:300%;}
.swipe-wrap li.company5{left:400%;}


/* 회사구성원 */
.company_storyImg img{width: 650px; height: 800px; margin-top: 75px; }
.company_member{width:1200px; height:1200px; margin: 0 auto; margin-top: 175px; text-align:center;font-size: 16px; }
.company_member h3{ font-size: 25px; text-align: left;text-align:center;}
.company_memberImg img{width: 174px; height: 174px; margin: 80px 0 0 12px;}

/* Lumiere 컨셉 */
.talkabout_company h3{font-size:25px; text-align:center;}
.talkabout_company img{width: 1104px; height: 500px; margin-top:75px; display: block; margin: 0px auto; }

/* Lumiere 시설구성안내 */
.talkabout_company02 img{width: 1104px; height: 2129px; margin-top: 75px; display: block; margin: 0px auto; }

.company_info{width:1200px;margin:0 auto;}
/* 오시는 길 */
.roadmap{width:1200px; height:900px; text-align:center; position:relative; font-size: 16px;}
.roadmap h3{font-size:25px; text-align: left; text-align:center;}
.roadmap > img {width:850px; height:620px; margin: 50px 0 0 0; }

.roadmap .aboutMaptext{ margin:0 auto;width: 800px; height: 200px; background-color: #ffdc73; border-radius: 5px; position:relative;}
.roadmap .aboutMaptext .text{ width: 600px; height: 70px; position:absolute; top:70px; left:100px;}
.roadmap .aboutMaptext h3{margin-right:10px;font-size:15px;float:left;}
.roadmap .aboutMaptext img{width: 20px; height: 20px; float:left;margin-right:10px;}
.roadmap .aboutMaptext .address{ width: 290px; height:20px; float:left;}
.roadmap .aboutMaptext .address h3{margin: 0 0 50px 0;}
.roadmap .aboutMaptext .address p{margin: 0 0 0 55px;}
.roadmap .aboutMaptext .call{ width: 210px; height:20px;float:left; margin-left:100px; }
.roadmap .aboutMaptext .call p{ width: 100px; height:20px;float:left;}
.aboutMaptext .text .navgate{width:550px; height:20px; font-size: 15px; margin-top: 65px;}
.aboutMaptext .text .navgate .style{width:550px; height:20px; font-size: 15px; margin-top: 65px; font-family: bold; color: #d96c00;}
.aboutMaptext .text .times{width: 297px; height:20px; float:left;}
.aboutMaptext .text .times img{margin: 5px 10px 0 0;}
.aboutMaptext .text .times h3{margin: 5px 10px 0 0; }
.aboutMaptext .text .times p{ width:500px; text-align:left; margin: 5px 10px 0 0; }

/* sns */
.sns{width:1000px; height:600px;margin:100px auto 50px; margin-bottom: 25px;text-align:center;}
.sns h3{ font-size: 25px;}
.sns_img{margin: 30px 0;}
.sns_img img{width: 160px; height: 160px; margin: 3px 0 0 3px;}
.sns_img img:hover{box-shadow:5px 5px 5px #aaa;}

/* Copyright */
.inner img {width: 120px; height: 60px;}

/* 탭 메뉴 */
.content1{width:1200px; margin:0 auto;}
.tab{width:935px; padding:0 160px;}
.tab li{width:300px; height:40px; float:left; text-align:center; line-height:40px; margin-right:10px; background:#ffeeb9; color: #ffffff; font-size:16px;}
.tab li.active{background:#ffffff; border:1px solid #FFDc73;  position:relative; z-index:5;}
.tab li:last-child{margin-right:0;}
/* 아래 컨텐츠 박스의 선이 보이므로 공지사항 메뉴를 맨앞으로 가져와 컨텐츠 박스를 조금 올려줌 */
.tab li a{color:#666; font-size:18px;}
.tab_con{position:relative;}
.tab_con .board ul li{letter-spacing:-1px;}
.tab_con .board ul li a{display:block; float:left; width:80%; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; color:#666;}
.tab_con .board ul li span{display:none; float:right; width:15%; text-align:right; font-size:14px; color:#666;}
.tab_con>div{position:absolute; top:-1px; background:#ffffff; clear:both; width:1200px; height:134px;  font-size:14px; padding:15px 20px; letter-spacing:-1px; line-height:2;}
.tab_con .gallery ul li{float:left;}
.tab_con .gallery ul li img{width:104px; height:104px; margin-right:13px; display:block;}
.tab_con .gallery ul li:last-child img{margin-right:0;}